@font-face {
  font-family: 'terminus';
  src: url('../fonts/terminus.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'smw2';
  src: url('../fonts/smw2.ttf');
  font-weight: normal;
  font-style: normal;
}

a {
    color: #0000FF;
}

a:hover {
    color: red;
}

body {
  font-family: "MS PGothic", Arial, sans-serif;
  font-size: 13px;
  background-color: #E0F0FF; 
  margin: 0;
  padding: 0;
}

header {
  border: 1px solid rgba(0,161,158,1);
  background-color: rgba(0,161,158,1);
  color: white;
  width: 846px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  left: 3px;
}

main {
  border: 1px solid rgba(0,89,101,1);
  width: 700px;
}

.banner-logo {
  font-family: smw2;
  font-size: 32px;
  padding: 5px
}

.header-links {
  background-color: rgba(0,89,101,1);
  text-align: right;
  padding: 0 10px;
}

.header-links a {
  color: white;
}

.header-links a:hover {
  color: red;
}

.title {
  padding: 0 5px;
  margin: 3px;
  background-color: rgba(0,89,101,1);
  color: white;
  background-image: url('/imgs/title-bg.png');
  background-position: top right;
  background-repeat: no-repeat;
}

.side-box {
  border: 1px solid rgba(0,161,158,1);
  margin: 0 5px;
}

.side-box-title {
  padding: 0 5px;
  margin: 3px;
  background-color: rgba(0,161,158,1);
  color: white;
  background-image: url('/imgs/title-bg.png');
  background-position: top right;
  background-repeat: no-repeat;
}

.side-box-content {
  padding: 5px;
}

.side-link {
  width: 100%;
  display: block;
  padding: 2px 0;
}

.side-link:hover {
  background-color: #c7d7e5;
}

ul, .side-box-content {
  margin: 0;
  padding: 2px 5px;
  list-style: none;
}

footer {
  text-align: center;
}

.content {
  padding: 0 10px;
}