@font-face {
  font-family: 'MSPGothic';
  src: url('../fonts/MSPGothic.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, #182f3f9e 0, transparent 260px);
    background: #091113 no-repeat;
    color: white;
}

header {
  margin: 0;
  padding: 0;
  background: #182f3f9e;
  border-bottom: 1px solid #4c7f7f;
}

a {
  color: #fffab2;
}

a:hover {
  color: #d00;
}

h3 {
  margin: 5px 0;
}

.sidebar-button {
  border: 1px solid #84bbf3;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  width: 100px;
  display: block;
  margin-top: 5px;
}

.sidebar-button:hover {
  background: #84bbf3;
}

.banner {
  border: 1px solid black;
  margin: 3px;
}

.banner:hover {
  border: 1px solid #84bbf3;
}

.button {
  font-size:14px;
  font-family:Arial;
  border-width:1px;
  color:#fff;
  border-color:#84bbf3;
  border-radius:6px;
  box-shadow:inset 0px 1px 0px 0px #dcecfb;
  background:linear-gradient(#bddbfa, #80b5ea);
  padding: 3px 9px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 3px;
}

.button:hover {
  background: linear-gradient(#80b5ea, #bddbfa);
}

.buttons {
  position: relative;
  bottom: 10px;
}