<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    {{ partial "header.html" . }}
    <main>
        {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    <div class="snowflakes" aria-hidden="true">
        <div class="snowflake">
          <div class="inner"><img src="/img/snow.png"></div>
        </div>
        <div class="snowflake">
          <div class="inner"><img src="/img/snow.png"></div>
        </div>
        <div class="snowflake">
          <div class="inner"><img src="/img/snow.png"></div>
        </div>
        <div class="snowflake">
          <div class="inner"><img src="/img/snow.png"></div>
        </div>
        <div class="snowflake">
          <div class="inner"><img src="/img/snow.png"></div>
        </div>
        <div class="snowflake">
          <div class="inner"><img src="/img/snow.png"></div>
        </div>
        <div class="snowflake">
          <div class="inner"><img src="/img/snow.png"></div>
        </div>
        <div class="snowflake">
          <div class="inner"><img src="/img/snow.png"></div>
        </div>
        <div class="snowflake">
          <div class="inner"><img src="/img/snow.png"></div>
        </div>
        <div class="snowflake">
          <div class="inner"><img src="/img/snow.png"></div>
        </div>
        <div class="snowflake">
          <div class="inner"><img src="/img/snow.png"></div>
        </div>
        <div class="snowflake">
          <div class="inner"><img src="/img/snow.png"></div>
        </div>
      </div>
</body>
</html> 
