<h3>Navigation</h3>
<a class="sidebar-button" href="/">Home</a>
<a class="sidebar-button" href="/info">Info</a>
<a class="sidebar-button" href="/links">Links</a>
<a class="sidebar-button" href="/contact">Contact</a>
<h3>Projects</h3>
<a class="sidebar-button" href="/h3">hikari3.ch</a>
<a class="sidebar-button" href="/comsock">ComSock</a>
<a class="sidebar-button" href="/glorp">Glorp</a>
<h3>Other Sites</h3>
<a class="sidebar-button" target="_blank" href="https://non-fish.net">non-fish.net</a>
<a class="sidebar-button" target="_blank" href="https://figamin.net">figamin.net</a>
<hr>
<a target="_blank" href="https://www.hikari3.ch"><img class="banner" src="/imgs/hikari3.png"></a>
<br>
<a target="_blank" href="https://www.animegalleries.net"><img class="banner" src="/imgs/agnet4.png"></a>