<div style="text-align: center;">
<a href="/"><img src="/imgs/logo.png" width="135" ></a>
</div>
<div class="side-box">
  <div class="side-box-title">navigation</div>
  <div class="side-box-content">
    <ul>
      <li><a class="side-link" href="/">home</a></li>
      <li><a class="side-link" href="/info">info</a></li>
      <li><a class="side-link" href="/links">links</a></li>
      <li><a class="side-link" href="/contact">contact</a></li> 
    </ul>
  </div>
  <div class="side-box-title">projects</div>
  <div class="side-box-content">
    <ul>
      <li><a class="side-link" href="/h3">hikari3.ch</a></li>
      <li><a class="side-link" href="/comsock">ComSock</a></li>
    </ul>
  </div>
  <div class="side-box-title">other sites</div>
  <div class="side-box-content">
    <ul>
      <li><a class="side-link" target="_blank" href="https://non-fish.net">non-fish.net</a></li>
      <li><a class="side-link" target="_blank" href="https://figamin.net">figamin.net</a></li>
    </ul>
  </div>
</div>
