<div class="side-box">
  <div class="side-box-title">E-Links</div>
  <div class="side-box-content">
    <ul>
      <li><a class="side-link" href="/">Home</a></li>
      <li><a class="side-link" href="/info">Info</a></li>
      <li><a class="side-link" href="/links">Links</a></li>
      <li><a class="side-link" href="/contact">Contact</a></li> 
    </ul>
  </div>
</div>

<div class="side-box">
  <div class="side-box-title">Projects</div>
  <div class="side-box-content">
    <a href="/h3">hikari3.ch</a>
  </div>
</div>
