<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="{{ "css/styles.css" | relURL }}">
</head>
<body>
    {{ partial "header.html" . }}
    <table>
      <tr>
        <td>
    <div class="sidebar">
      {{ partial "sidebar.html" . }}
    </div>
        </td>
        <td>
    <main>
        {{ block "main" . }}{{ end }}
    </main>
        </td>
      </tr>
    </table>
    {{ partial "footer.html" . }}
</body>
</html>

