{{ define "main" }}
<div class="box">
    <div class="box-title2">Home</div>
    <div class="box-content">
        <div style="width: 415px; display: inline-block; vertical-align: top;">
        <img src="/img/Welcom.gif">
        <p>This is my own personal page. Here, I'll be sharing stuff I'm working on, among other stuff I find interesting.</p>
        <p>My name is Travis but I go by "syrno" (seer-no) online (Sometimes syrno9/syrno9000). I'm a 2nd year student studying computer science.</p>
        <img src="/img/construction.gif" style="margin: 15px">
        <p>This is probably the 4th time I'm redoing this page, hopefully I'll actually keep it this time.</p>
        </div>
        <div style="width: 225px; display: inline-block;">
            <img src="/img/pic.jpg" width="300" style="margin: 15px">
        </div>
    </div>
</div>
{{ end }} 