{{ define "main" }}
<div class="box">
    <div class="box-title2">Home</div>
    <div class="box-content">
        <div style="width: 415px; display: inline-block; vertical-align: top;">
        <img src="/img/Welcom.gif">
        <p>This is my own personal page. Here, I'll be sharing stuff I'm working on, among other stuff I find interesting.</p>
        <p>My name is Travis but I go by "syrno" (seer-no) online (Sometimes syrno9/syrno9000). I'm a 2nd year student studying computer science.</p>
        <img src="/img/construction.gif" style="margin: 15px">
        <img src="/img/construction2.gif" style="margin: 15px">
        <p>This is probably the 4th time I'm redoing this page, hopefully I'll actually keep it this time.</p>
        <audio controls="" loop="" autoplay="" style="margin: 15px;">
            <source src="/audio/music.MP3" type="audio/mp3">
        </audio>
        <a href="https://hikari3.ch"><img src="/img/hikari-88.gif" width="88"></a>
        <a href="https://wapchan.org"><img src="/img/wap8831simple-small.gif" width="88"></a>
        <a href="https://sheepishpatio.net"><img src="/img/sheepishpatio-88.png" width="88"></a>
        <a href="https://cidoku.net/en/"><img src="/img/cidokunet3.gif" width="88"></a>
        <a href="https://animegalleries.net"><img src="/img/agnet4.png" width="88"></a>
        </div>
        <div style="width: 225px; display: inline-block;">
            <img src="/img/syrno.png" width="300" style="margin: 15px">
            <p style="text-align: center;"><a href="https://danbooru.donmai.us/posts/229544">Art by ugif</a></p>
        </div>
    </div>
</div>
<table style="margin: 3px;">
    <tr>
        <td style="vertical-align: top;">
            <div class="box" style="width: 367px; margin: 0">
                <div class="box-title">Recent Blog Posts <a href="/blog/index.xml"><img src="/img/rss.svg" width="16"></a></div>
                <div class="box-content">
                    <ul>
                    {{ range first 5 (where .Site.RegularPages "Section" "blog") }}
                        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                    {{ end }}
                    </ul>
                </div>
            </div>
        </td>
        <td style="vertical-align: top;">
            <div class="box" style="width: 385px; margin: 0">
                <div class="box-title">Projects</div>
                <div class="box-content">
                    <a href="/projects/hikari3/"><img src="/img/hikari_home.png" style="margin: 0" width="190"></a>
                    <a href="/projects/comsock/"><img src="/img/comsock_ss.png" style="margin: 0" width="180"></a>
                    <a href="/projects/fish/"><img src="/img/fish.png" style="margin: 0" width="180"></a>
                </div>
        </td>
    </tr>
</table>
{{ end }} 