body {
    /*! font-family: "Tahoma", "Arial", sans-serif; */
    font-size: 13px;
    background: 
    rgb(1, 4, 6);
    background-size: 700px;
    color: #e1f2f7;
    margin: 0;
    min-height: 100vh;
    background: 
    rgb(3, 10, 15)
        url('/img/cirno.png') no-repeat;
    background-size: 700px;
}

a {
    color: #99ddff;
    text-decoration: none;
}

a:hover {
    color: #e1f2f7;
    text-decoration: underline; 
}

p {
  margin: 0;
}

nav ul {
    text-align: center;
}

header {
    text-align: center;
    margin-bottom: 15px;
}

header h1 {
    margin: 20px;
    margin-top: 40px;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: #234e64;
}

header nav ul li .dropdown {
    display: none;
    position: absolute;
    background: rgba(7,28,48,0.737255);
    padding: 0;
    min-width: 80px;
    z-index: 10;
    top: 33px;
    right: -1px;
}

header nav ul li .nested-dropdown {
    top: 0;
    left: 100%;
    right: auto;
    display: none;
}

header nav ul li:hover > .dropdown {
    display: block;
}

header nav ul li li:hover > .nested-dropdown {
    display: block;
}

header nav ul li li {
    position: relative;
}

header nav ul {
    list-style: none;
    margin: auto;
    padding: 0;
    display: flex;
    gap: 1em;
    width: fit-content;
}
header nav ul li {
    position: relative;
    padding: 5px 10px;
    font-weight: bold;
    border: 1px solid #258;
    background: rgba(7,28,48,0.737255);
    width: 100px;
}

header nav ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

header nav a {
    text-decoration: none;
    color: #e1f2f7;
} 

footer {
    text-align: center;
}

main {
    width: 770px;
    margin: 0 auto;
    background: rgba(3, 10, 15, 0.61);
}

.box {
    margin: 5px;
}

.box-title {
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
}

.box-title2 {
    padding: 5px;
    font-size: 20px;
}

.box-content {
  padding: 15px 5px;
  padding-top: 0px;
}

.box-content img {
    margin: 10px;
}

.snowflake {
    
    color: #fff;
  
    font-size: 1em;
  
    font-family: Arial, sans-serif;
  
    text-shadow: 0 0 5px #000;
  
}
    
.snowflake, .snowflake .inner {
      animation-iteration-count: infinite;
      animation-play-state: running;
}
  
@keyframes snowflakes-fall {
      0% {
          transform: translateY(0);
      }
      100% {
          transform: translateY(110vh);
      }
  }
  
  @keyframes snowflakes-shake {
      0%, 100% {
          transform: translateX(0);
      }
      50% {
          transform: translateX(0);
      }
}
  
  .snowflake {
      position: absolute;
      top: -10%;
      z-index: 9999;
      -webkit-user-select: none;
      user-select: none;
      cursor: default;
      animation-name: snowflakes-shake;
      animation-duration: 3s;
      animation-timing-function: ease-in-out;
  }
  
  .snowflake .inner {
      animation-duration: 10s;
      animation-name: snowflakes-fall;
      animation-timing-function: linear;
  }
  
  .snowflake:nth-of-type(0) {
      left: 1%;
      animation-delay: 0s;
  }
  
  .snowflake:nth-of-type(0) .inner {
      animation-delay: 0s;
  }
  
  .snowflake:first-of-type {
      left: 10%;
      animation-delay: 1s;
  }
  
  .snowflake:first-of-type .inner,
  .snowflake:nth-of-type(8) .inner {
      animation-delay: 1s;
  }
  
  .snowflake:nth-of-type(2) {
      left: 20%;
      animation-delay: .5s;
  }
  
  .snowflake:nth-of-type(2) .inner,
  .snowflake:nth-of-type(6) .inner {
      animation-delay: 6s;
  }
  
  .snowflake:nth-of-type(3) {
      left: 30%;
      animation-delay: 2s;
  }
  
  .snowflake:nth-of-type(11) .inner,
  .snowflake:nth-of-type(3) .inner {
      animation-delay: 4s;
  }
  
  .snowflake:nth-of-type(4) {
      left: 40%;
      animation-delay: 2s;
  }
  
  .snowflake:nth-of-type(10) .inner,
  .snowflake:nth-of-type(4) .inner {
      animation-delay: 2s;
  }
  
  .snowflake:nth-of-type(5) {
      left: 50%;
      animation-delay: 3s;
  }
  
  .snowflake:nth-of-type(5) .inner {
      animation-delay: 8s;
  }
  
  .snowflake:nth-of-type(6) {
      left: 60%;
      animation-delay: 2s;
  }
  
  .snowflake:nth-of-type(7) {
      left: 70%;
      animation-delay: 1s;
  }
  
  .snowflake:nth-of-type(7) .inner {
      animation-delay: 2.5s;
  }
  
  .snowflake:nth-of-type(8) {
      left: 80%;
      animation-delay: 0s;
  }
  
  .snowflake:nth-of-type(9) {
      left: 90%;
      animation-delay: 1.5s;
  }
  
  .snowflake:nth-of-type(9) .inner {
      animation-delay: 3s;
  }
  
  .snowflake:nth-of-type(10) {
      left: 25%;
      animation-delay: 0s;
  }
  
  .snowflake:nth-of-type(11) {
      left: 65%;
      animation-delay: 2.5s;
  }
